# CSE-221710308025-K.SAHITH REDDY

In [9]:
import pandas as pd
import numpy as np

In [10]:
#1 Write a Python program to add, subtract, multiple and divide two Pandas Series. 

d1 = pd.Series([2, 4, 6, 8, 10])
d2 = pd.Series([1, 3, 5, 7, 9])
d = d1 + d2
print("Addition")
print(d)
print("Subtract:")
d = d1 - d2
print(d)
print("Multiply:")
d = d1 * d2
print(d)
print("Divide:")
d = d1 / d2
print(d)

Addition
0     3
1     7
2    11
3    15
4    19
dtype: int64
Subtract:
0    1
1    1
2    1
3    1
4    1
dtype: int64
Multiply:
0     2
1    12
2    30
3    56
4    90
dtype: int64
Divide:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [11]:
#2 Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series. 

nstate= np.random.RandomState(100)
nseries = pd.Series(nstate.normal(10, 4, 20))
print("Original Series:")
print(nseries)
result = np.percentile(nseries, q=[0, 25, 50, 75, 100])
print("\nminimum, 25th percentile, median, 75th, and maximum of a given series:")
print(result)

Original Series:
0      3.000938
1     11.370722
2     14.612143
3      8.990256
4     13.925283
5     12.056875
6     10.884719
7      5.719827
8      9.242017
9     11.020006
10     8.167892
11    11.740654
12     7.665620
13    13.267388
14    12.690883
15     9.582355
16     7.874878
17    14.118931
18     8.247458
19     5.526727
dtype: float64

minimum, 25th percentile, median, 75th, and maximum of a given series:
[ 3.00093811  8.09463867 10.23353705 12.21537733 14.61214321]

In [12]:
#3 Write a Pandas program to get the items of a given series not present in another given series.
s1=pd.Series([1,2,3,4,5])
s2=pd.Series([2,4,6,8,10])
print('Original')
print("s1")
print(s1)
print("s2")
print(s2)
l1=list(s1)
l2=list(s2)
l3=[]
for i in l1:
    if i not in l2:
        l3.append(i)
    else:
        continue 
s3=pd.Series(l3)
print('items of s1 not present in s2:')
print(s3)

Original
s1
0    1
1    2
2    3
3    4
4    5
dtype: int64
s2
0     2
1     4
2     6
3     8
4    10
dtype: int64
items of s1 not present in s2:
0    1
1    3
2    5
dtype: int64

In [13]:
#4 Write a Pandas program to filter words from a given series that contain at least two vowels. 

from collections import Counter
color= pd.Series(['Red', 'Green', 'Orange', 'Pink', 'Yellow', 'White'])
print("Original Series:")
print(color)
print("vowels greater than 2:")
out = color.map(lambda c: sum([Counter(c.lower()).get(i, 0) for i in list('aeiou')]) >= 2)
print(color[out])

Original Series:
0       Red
1     Green
2    Orange
3      Pink
4    Yellow
5     White
dtype: object
vowels greater than 2:
1     Green
2    Orange
4    Yellow
5     White
dtype: object

In [14]:
#5 Consider the following as my DataFrame,Write a Pandas program to select the rows where the number of attempts in the examination is greater than 2.
e= {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
d=pd.DataFrame(e)
label=list('abcdefghij')
df=d.set_index([pd.Index(label)])
df

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [15]:
print(df[(df['attempts'] > 2)])

      name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes